### Exercise 1: Iterate through a list with a for loop

Create a list of your favorite musicians or band names and then iterate through the list and output each one in the format like "I love The Rolling Stones".

In [ ]:
musicians = ["The Rolling Stones", "Pink Floyd", "Harry Styles", "Kacey Musgraves"]

for musician in musicians:
    print(f"I love {musician}")

### Exercise 2: Write a while loop to iterate through characters in a string

Iterate through and print out each character of the string ```text``` below using a while loop. Hint: start at index 0 and iterate while the index is less than the length of the ```text``` variable.

In [ ]:
text = "Hello, World!"
index = 0

while index < len(text):
    print(text[index])
    index += 1

### Exercise 3: Write if statements

Create the variable ```myAge``` and set it equal to your age as an integer. Use any combination of if, elif, and else statements to accomplish the following:

- If ```myAge``` is less than 13, print "You are a child."
- If ```myAge``` is between 13 and 19 (inclusive), print "You are a teenager."
- If ```myAge``` is between 20 and 64 (inclusive), print "You are an adult."
- If ```myAge``` is 65 or older, print "You are a senior."

In [ ]:
myAge = 42

if myAge < 13:
    print("You are a child")
elif 13< myAge <=19:
    print("You are a teenager")
elif (myAge>20) and (myAge<=64):
    print("You are an adult")
else:
    print("You are a senior")

### Exercise 4: Break on condition in a for loop

Loop through numbers from 1 to 10 and print each number. However, if the number is 7, the loop should stop immediately and print "Loop ended at 7."

In [ ]:
for x in range(1,11):
    if x!=7:
        print(x)
    else:
        print("Loop ended at 7")
        break

### Exercise 5: Write a custom function

Write a function to return the maximum and minimum values of five integer inputs.

In [ ]:
def minmax(var1,var2,var3,var4,var5):
    minval = min(var1,var2,var3,var4,var5)
    maxval = max(var1,var2,var3,var4,var5)
    return minval,maxval

minval,maxval = minmax(1,2,3,4,5)
print(minval)
print(maxval)

### Exercise 6: Write a list comprehension

Write a list comprehension to add 10 to each value in the list below.

In [ ]:
myList=[3,5,7,9,2,4,6,8]

[x+10 for x in myList]

### Exercise 7: Write a lambda function

Write a lambda function to add 10 to ```myVariable``` below

In [ ]:
myVariable = 100

(lambda x: x+10)(myVariable)

### Exercise 8: Write assert statements

Use the lists below to test the following using assert statements. Include an error message in your assert statements. If you write your assert statements correctly, they should not raise any errors.

- assert that list1 equals list2
- assert that all values in pets are type string (str)
- assert that at least one value from pets exists in animals

In [35]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
pets = ['dog','cat','bird','snake']
animals = ['giraffe','horse','snake','elephant','tortoise','dog']

In [36]:
# add your code here
assert list1==list2, 'list1 is not equal to list2'

In [39]:
# add your code here
assert all(isinstance(pet,str) for pet in pets), 'not all values in pets are string'

In [40]:
# add your code here
assert any(animal in pets for animal in animals), 'no values from the pets list are found in the animals list'