# Answer Key

This answer key contains a copy of each exercise text as well as the solutions, but you will not be able to run solution cells here. Copy each solution from this answer key into the main notebook for this learning module and run the code there.

<div class="alert alert-info">    

## Exercise 1: Get data type

Assign a floating point value to a variable named ```z``` and use ```type()``` to see the data type.
</div>

In [9]:
# add your code here

z=1.0
type(z)

float

<div class="alert alert-info">    

## Exercise 2: Manipulate a list

Using the list ```practiceList``` below, do the following in this order:
1) replace the element at the third index of the list with "index3" (remember the third index is not the same as the third number in the list)
2) append the list with an additional element, the integer 100
3) prepend the list with an additional element, the integer 1000
4) remove the 8 from the list
</div>

In [21]:
practiceList = [1,2,3,4,6,8,10]

# add your code here

practiceList[3] = "index3"
practiceList.append(100)
practiceList.insert(0,1000)
del practiceList[6]

practiceList

[1000, 1, 2, 3, 'index3', 6, 10, 100]

<div class="alert alert-info">    

Show programatically (using code) how many elements are now in your list.
</div>

In [22]:
# add your code here

len(practiceList)

8

<div class="alert alert-info">    

## Exercise 3: Manipulate a dictionary

First, write a new dictionary called ```studentGrades``` that contains the first names of 3 students and their letter grade for a pretend course.
</div>

In [26]:
# add your code here
studentGrades = {"Jack":"B", "Jill":"A", "Steve":"A"}
print(studentGrades)

{'Jack': 'B', 'Jill': 'A', 'Steve': 'A'}

<div class="alert alert-info">    

Now add an additional key:value pair into your dictionary where the key is "Heather" and the value is "C".
</div>

In [27]:
# add your code here
studentGrades["Heather"] = "C"
studentGrades

{'Jack': 'B', 'Jill': 'A', 'Steve': 'A', 'Heather': 'C'}

<div class="alert alert-info">    

Finally, use the keyword ```in``` to programmatically determine whether "Heather" is in the dictionary. No need to write an ```if...else``` statement here, just use ```in``` to get a True/False result.
</div>

In [28]:
# add your code here
"Heather" in studentGrades

True

<div class="alert alert-info">    

## Exercise 4: Iterate through a list with a for loop

Create a list of your favorite musicians or band names and then iterate through the list and output each one in the format like "I love The Rolling Stones".
</div>

In [49]:
# add your code here

musicians = ["The Rolling Stones", "Pink Floyd", "Harry Styles", "Kacey Musgraves"]

for musician in musicians:
    print(f"I love {musician}")

I love The Rolling Stones
I love Pink Floyd
I love Harry Styles
I love Kacey Musgraves

<div class="alert alert-info">    

## Exercise 5: Write a while loop to iterate through characters in a string

Iterate through and print out each character of the string ```text``` below using a while loop. Hint: start at index 0 and iterate while the index is less than the length of the ```text``` variable.
</div>

In [53]:
text = "Hello, World!"
index = 0

# add your code here

while index < len(text):
    print(text[index])
    index += 1

H
e
l
l
o
,

W
o
r
l
d
!

<div class="alert alert-info">    

## Exercise 6: Write if statements

Create the variable ```myAge``` and set it equal to your age as an integer. Use any combination of ```if```, ```elif```, and ```else``` statements to accomplish the following:

- If ```myAge``` is less than 13, print "You are a child."
- If ```myAge``` is between 13 and 19 (inclusive), print "You are a teenager."
- If ```myAge``` is between 20 and 64 (inclusive), print "You are an adult."
- If ```myAge``` is 65 or older, print "You are a senior."
</div>

In [60]:
# add your code here

myAge = 42

if myAge < 13:
    print("You are a child")
elif 13< myAge <=19:
    print("You are a teenager")
elif (myAge>20) and (myAge<=64):
    print("You are an adult")
else:
    print("You are a senior")

You are an adult

<div class="alert alert-info">    

## Exercise 7: Break on condition in a for loop

Loop through numbers from 1 to 10 (use ```range()```) and print each number. However, if the number is 7, the loop should stop immediately and print "Loop ended at 7."
</div>

In [65]:
# add your code here

for x in range(1,11):
    if x!=7:
        print(x)
    else:
        print("Loop ended at 7")
        break

1
2
3
4
5
6
Loop ended at 7

<div class="alert alert-info">    

## Exercise 8: Write a custom function

Write a function to return the maximum and minimum values of five integer inputs.
</div>

In [69]:
# add your code here

def minmax(var1,var2,var3,var4,var5):
    minval = min(var1,var2,var3,var4,var5)
    maxval = max(var1,var2,var3,var4,var5)
    return minval,maxval

minval,maxval = minmax(1,2,3,4,5)
print(minval)
print(maxval)

1
5

<div class="alert alert-info">    

## Exercise 9: Write a list comprehension

Write a list comprehension to add 10 to each value in the list below.
</div>

In [76]:
myList=[3, 5, 7, 9, 2, 4, 6, 8]

# add your code here

[x+10 for x in myList]

[13, 15, 17, 19, 12, 14, 16, 18]

<div class="alert alert-info">    

## Exercise 10: Write a lambda function

Write an "anonymous" ```lambda``` function to add 10 to ```myVariable``` below
</div>

In [82]:
myVariable = 100

# add your code here

(lambda x: x+10)(myVariable)

110

<div class="alert alert-info">    

## Exercise 11: Write assert statements

Use the lists below to test the following using assert statements. Include an error message in your assert statements. If you write your assert statements correctly, they should not raise any errors.

- assert that list1 equals list2
- assert that all values in pets are type string (str)
- assert that at least one value from pets exists in animals
</div>

In [95]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]
pets = ['dog', 'cat', 'bird', 'snake']
animals = ['giraffe', 'horse', 'snake', 'elephant', 'tortoise', 'dog']

# add your code here

assert list1==list2, 'list1 is not equal to list2'

In [97]:
# add your code here

assert all(isinstance(pet,str) for pet in pets), 'not all values in pets are string'

In [98]:
# add your code here

assert any(animal in pets for animal in animals), 'no values from the pets list are found in the animals list'