# Introduction to Pandas for Working with Tabular Data

# I. Importing Necessary Packages
The following code will include the packages you'll need for this notebook. Packages are collections of code that adds additional functionality to the core Python. It's best practice to import everything you need in one place at the top of your notebook or script.

In [1]:
# Numpy supports multidimensional arrays and has a lot of math functions.
import numpy as np 

# Pandas is great for tabular data (data in rows and columns)
import pandas as pd

# Matplot Lib is for drawing plots, graphs, etc. and Seaborn is another package
# that makes matplotlib easier to use and create more attractive graphics
import matplotlib.pyplot as plt 
import matplotlib.image as mpimg 
import seaborn as sns 

# Geopandas adds geographical analysis capabilities to Pandas - one or more of your
# columns can be geographical (points, lines, shapes, etc.)
import geopandas as gpd
from geopandas import GeoDataFrame 

# These are built into core python but you have to include them to use them
import random 
import os 
import json 

# This package adds the ability to work with Excel files
import openpyxl

# II. Introduction to Pandas Data Structures

The [Pandas website](https://pandas.pydata.org/) describes the project's goal - pandas "aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language."

Pandas uses two kinds of structures to store data - *DataFrames* and *Series*. DataFrames are like an excel spreadsheet - think of a table of data with headings and values. Series are like a single column in an excel spreadsheet. Both types of data have an *index* - you can think of an index, for now, as a row or line number, but it can be anything, even text.

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg">


(Image Source: Pandas Tutorial, https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)

## Making a DataFrame from Scratch

You can make a DataFrame programmatically. For example, let's create one from lists.

In [2]:
listOfTuples = [(1,'089',32223,59730,98468,35297),
                (2,'121',27183,56159,145165,52539),
                (3,'073',27399,50075,57786,21237),
                (4,'033',25065,59734,166234,56641),
                (5,'059',23547,49620,140298,50185),
                (6,'047',23111,44550,194029,69384),
                (7,'149',22079,40404,48773,18941),
                (8,'045',21935,44494,43929,17380),
                (9,'081',21831,39049,82910,32086),
                (10,'131',21691,43728,17786,6165)]

listOfColumnNames = ["rank","county_fips","per_capita_income"
                     ,"median_household_income","population"
                     ,"num_households"]

countyData = pd.DataFrame(listOfTuples,columns=listOfColumnNames)
        
# if placed on a line by itself, you will get pretty output of the dataframe    
countyData

,rank,county_fips,per_capita_income,median_household_income,population,num_households
0,1,089,32223,59730,98468,35297
1,2,121,27183,56159,145165,52539
2,3,073,27399,50075,57786,21237
3,4,033,25065,59734,166234,56641
4,5,059,23547,49620,140298,50185
5,6,047,23111,44550,194029,69384
6,7,149,22079,40404,48773,18941
7,8,045,21935,44494,43929,17380
8,9,081,21831,39049,82910,32086
9,10,131,21691,43728,17786,6165

In [ ]:
# add info about Series

## Loading Tabular Data from a File into a DataFrame

### CSV Files

Pandas makes it very easy to load an excel file or other tabular (rows and columns) data sources like .csv files into dataframes. 

CSV (.csv file extension) is a common file format for tabular text data. CSV stands for comma separated values. Inside a CSV file, you will see rows of data with commas used between the values of each data column (i.e., "comma delimited"). Generally, we use .csv files instead of excel because excel has a limit on length (1,048,576 rows). 

For example, a raw CSV file with a header row might look like this:

<pre>
Book Title,Publisher,Price
War and Peace,Vintage Classics,12.99
"Our Bodies, Ourselves",Touchstone,48.38
Putin's Playbook,"Simon & Schuster, Inc.",14.49
</pre>

Notice that the second book listed has a comma in the title, so it is surrounded by quotation marks to avoid our interpreting the comma as a new column. 

The third book listed has a comma in the publisher name, so the quotation marks are used.

Sidebar about metadata here

### Loading a .csv File

The example data used in this notebook is college football bowl data. While this particular data may not be relevant to your job or research, the data exploration and cleaning techniques we'll work through do broadly apply to any tabular data you may have (in .csv, .xls(x) or even .txt formats).  

Let's begin by loading the example data file that is .csv format into a Pandas dataframe.

In [3]:
# note - the data dictionary is in https://dsci.msstate.edu/downloads/wrangling/lab2/collegefootballbowl.txt

bowlData = pd.read_csv('https://dsci.msstate.edu/downloads/wrangling/lab2/collegefootballbowl.csv')

bowlData

,id,year,date,day,winner_tie,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,mvp,sponsor,bowl_name
0,1,2021,12/29/2021,Wed,Oklahoma,14,47,Oregon,15,32,59121.0,"Oklahoma RB Kennedy Brooks, Oklahoma S Pat Fields",Valero,Alamo Bowl
1,2,2020,12/29/2020,Tue,Texas,20,55,Colorado,NaN,23,10822.0,"Texas RB Bijan Robinson, Texas LB DeMarvion Ov...",Valero,Alamo Bowl
2,3,2019,12/31/2019,Tue,Texas,NaN,38,Utah,12,10,60147.0,"Texas QB Sam Ehlinger, Texas LB Joseph Ossai",Valero,Alamo Bowl
3,4,2018,12/28/2018,Fri,Washington State,12,28,Iowa State,25,26,60675.0,"Washington State QB Gardner Minshew, Washingto...",Valero,Alamo Bowl
4,5,2017,12/28/2017,Thu,Texas Christian,13,39,Stanford,15,37,57653.0,"TCU QB Kenny Hill, TCU LB Travin Howard",Valero,Alamo Bowl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,1523,2004,12/30/2004,Thu,Northern Illinois,NaN,34,Troy,NaN,21,21456.0,"RB Dewhitt Betterson (Troy), DB Lionel Hickenb...",NaN,Silicon Valley Bowl
1523,1524,2003,12/30/2003,Tue,Fresno State,NaN,17,UCLA,NaN,9,20126.0,"RB Rodney Davis (Fresno State), DL Garrett McI...",NaN,Silicon Valley Bowl
1524,1525,2002,12/31/2002,Tue,Fresno State,NaN,30,Georgia Tech,NaN,21,10132.0,"RB Rodney Davis (Fresno State), DL Jason Stewa...",NaN,Silicon Valley Bowl
1525,1526,2001,12/31/2001,Mon,Michigan State,NaN,44,Fresno State,20,35,30456.0,"WR Charles Rogers (Michigan State), DL Nick My...",NaN,Silicon Valley Bowl
1526,1527,2000,12/31/2000,Sun,Air Force,NaN,37,Fresno State,NaN,34,26542.0,"QB Mike Thiessen (Air Force), LB Tim Skipper (...",NaN,Silicon Valley Bowl

Notice what gets printed to the screen when a dataframe has many rows. We can see the first 5 and last 5 rows of data, followed by the shape (rows, columns) of the full dataframe.

Also notice some columns contain NaN values. NaN stands for "not a number" and usually represents a missing data value of type float. We'll cover more about different missing data values, how to handle them, and the missing data features Pandas offers later.

## Viewing the Head and Tail of a DataFrame

```.head()``` lets us view the first N rows of a dataframe 

```.tail()``` lets us view the last N rows

Using either one of these functions on a dataframe without any additional parameters will show you 5 rows. Enter an integer as a parameter to either function to view a different number of rows.

In [11]:
# view first 10 rows
bowlData.head(10)

,id,year,date,day,winner_tie,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,mvp,sponsor,bowl_name
0,1,2021,12/29/2021,Wed,Oklahoma,14,47,Oregon,15,32,59121.0,"Oklahoma RB Kennedy Brooks, Oklahoma S Pat Fields",Valero,Alamo Bowl
1,2,2020,12/29/2020,Tue,Texas,20,55,Colorado,NaN,23,10822.0,"Texas RB Bijan Robinson, Texas LB DeMarvion Ov...",Valero,Alamo Bowl
2,3,2019,12/31/2019,Tue,Texas,NaN,38,Utah,12,10,60147.0,"Texas QB Sam Ehlinger, Texas LB Joseph Ossai",Valero,Alamo Bowl
3,4,2018,12/28/2018,Fri,Washington State,12,28,Iowa State,25,26,60675.0,"Washington State QB Gardner Minshew, Washingto...",Valero,Alamo Bowl
4,5,2017,12/28/2017,Thu,Texas Christian,13,39,Stanford,15,37,57653.0,"TCU QB Kenny Hill, TCU LB Travin Howard",Valero,Alamo Bowl
5,6,2016,12/29/2016,Thu,Oklahoma State,13,38,Colorado,11,8,59815.0,"OSU WR James Washington, OSU DT Vincent Taylor",Valero,Alamo Bowl
6,7,2015,1/2/2016,Sat,Texas Christian,11,47,Oregon,15,41,64569.0,"TCU QB Brian Kohlhausen, TCU S Travin Howard",Valero,Alamo Bowl
7,8,2014,1/2/2015,Fri,UCLA,14,40,Kansas State,11,35,60517.0,"RB Paul Perkins (UCLA), LB Eric Kendricks (UCLA)",Valero,Alamo Bowl
8,9,2013,12/30/2013,Mon,Oregon,10,30,Texas,NaN,7,65918.0,"QB Marcus Mariota (Oregon), SS Avery Patterson...",Valero Energy Corporation,Alamo Bowl
9,10,2012,12/29/2012,Sat,Texas,NaN,31,Oregon State,15,27,65277.0,"WR Marquise Goodwin (Texas), DL Alex Okafor (T...",Valero Energy Corporation,Alamo Bowl

In [12]:
# view last 10 rows
bowlData.tail(10)

,id,year,date,day,winner_tie,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,mvp,sponsor,bowl_name
1517,1518,2001,12/27/2001,Thu,Georgia Tech,NaN,24,Stanford,11,14,30144.0,NaN,Jeep,Seattle Bowl
1518,1519,2000,12/24/2000,Sun,Georgia,24,37,Virginia,NaN,14,24187.0,NaN,Jeep,Seattle Bowl
1519,1520,1999,12/25/1999,Sat,Hawaii,NaN,23,Oregon State,NaN,17,40974.0,NaN,Jeep,Seattle Bowl
1520,1521,1998,12/25/1998,Fri,Air Force,16,45,Washington,NaN,25,46451.0,NaN,Jeep,Seattle Bowl
1521,1522,1948,12/18/1948,Sat,Hardin-Simmons,NaN,40,Ouachita,NaN,12,NaN,NaN,NaN,Shrine Bowl
1522,1523,2004,12/30/2004,Thu,Northern Illinois,NaN,34,Troy,NaN,21,21456.0,"RB Dewhitt Betterson (Troy), DB Lionel Hickenb...",NaN,Silicon Valley Bowl
1523,1524,2003,12/30/2003,Tue,Fresno State,NaN,17,UCLA,NaN,9,20126.0,"RB Rodney Davis (Fresno State), DL Garrett McI...",NaN,Silicon Valley Bowl
1524,1525,2002,12/31/2002,Tue,Fresno State,NaN,30,Georgia Tech,NaN,21,10132.0,"RB Rodney Davis (Fresno State), DL Jason Stewa...",NaN,Silicon Valley Bowl
1525,1526,2001,12/31/2001,Mon,Michigan State,NaN,44,Fresno State,20,35,30456.0,"WR Charles Rogers (Michigan State), DL Nick My...",NaN,Silicon Valley Bowl
1526,1527,2000,12/31/2000,Sun,Air Force,NaN,37,Fresno State,NaN,34,26542.0,"QB Mike Thiessen (Air Force), LB Tim Skipper (...",NaN,Silicon Valley Bowl

## Getting DataFrame Information

### Shape Property: How Many Rows / Columns?

```.shape``` returns a tuple (rows, columns) and is the most concise way to see how many total rows and columns are in a dataframe.

In [4]:
bowlData.shape

(1527, 14)

### Dtypes Property: Understanding the Data Types of Each Column

Often you will need to know the data type of each column, ```.dtypes``` will give you that information.

Anything column that says "object" is probably storing strings. int64 and float64 are numerical data (numbers).

In [5]:
bowlData.dtypes

id                 int64
year               int64
date              object
day               object
winner_tie        object
winner_rank       object
winner_points      int64
loser_tie         object
loser_rank        object
loser_points       int64
attendance       float64
mvp               object
sponsor           object
bowl_name         object
dtype: object

How were the data types for each column determined? 

When we read the .csv file using ```pd.read_csv()``` Pandas inferred the data type of each column based on the column's data values. If all values in a column appear to be integers, Pandas will infer that the column is data type int. Sometimes, there can be mistakes in your data file though. You could have a data column, for example winner_rank, that should contain all integers or missing values but a data entry mistake in your file has added 1 or more values that are non-numeric in that column. A lot of real data is "messy" like this. In these cases where there are mixed data types in a single column, Pandas usually reads the whole column as strings and assigns a data type of "object". This is in fact the case with our data columns winner_rank and loser_rank, which we will investigate a bit more later.

### Describe(): Summary of Numerical Data (count, mean, std, min, quartiles, max)

You can access simple statistical information for numerical data columns using ```.describe()```

In [6]:
bowlData.describe()

                id         year  winner_points  loser_points     attendance
count  1527.000000  1527.000000    1527.000000   1527.000000    1518.000000
mean    764.000000  1991.286182      30.253438     17.092338   49487.574440
std     440.951244    24.437900      12.111077     10.395141   23552.602532
min       1.000000  1901.000000       0.000000      0.000000       0.000000
25%     382.500000  1976.000000      21.000000     10.000000   31383.000000
50%     764.000000  1998.000000      30.000000     16.000000   49056.000000
75%    1145.500000  2011.000000      38.000000     24.000000   68321.500000
max    1527.000000  2021.000000      70.000000     61.000000  106869.000000

Notice that ```.describe()``` returns statistical information only for numerical data columns. 

For which year was the earliest data record in our dataframe collected? We can see the answer is the "min" of the year column, 1901.

To see all columns, numeric or not, you can add a parameter to ```.describe()``` like this:

In [9]:
bowlData.describe(include = 'all')

,id,year,date,day,winner_tie,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,mvp,sponsor,bowl_name
count,1527.000000,1527.000000,1527,1527,1527,754,1527.000000,1527,671,1527.000000,1518.000000,1358,820,1527
unique,NaN,NaN,691,7,166,26,NaN,171,26,NaN,NaN,1331,166,77
top,NaN,NaN,1/1/1948,Sat,Alabama,3,NaN,Alabama,2,NaN,NaN,QB Byron Leftwich (Marshall),Outback Steakhouse,Rose Bowl
freq,NaN,NaN,11,412,45,49,NaN,30,38,NaN,NaN,3,26,108
mean,764.000000,1991.286182,NaN,NaN,NaN,NaN,30.253438,NaN,NaN,17.092338,49487.574440,NaN,NaN,NaN
std,440.951244,24.437900,NaN,NaN,NaN,NaN,12.111077,NaN,NaN,10.395141,23552.602532,NaN,NaN,NaN
min,1.000000,1901.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,382.500000,1976.000000,NaN,NaN,NaN,NaN,21.000000,NaN,NaN,10.000000,31383.000000,NaN,NaN,NaN
50%,764.000000,1998.000000,NaN,NaN,NaN,NaN,30.000000,NaN,NaN,16.000000,49056.000000,NaN,NaN,NaN
75%,1145.500000,2011.000000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN,24.000000,68321.500000,NaN,NaN,NaN
max,1527.000000,2021.000000,NaN,NaN,NaN,NaN,70.000000,NaN,NaN,61.000000,106869.000000,NaN,NaN,NaN

You can now see 3 additional statistics that operate only on non-numeric data columns: unique, top, and freq. NaN appears wherever the data type is not appropriate for the statistic. 

Who is the most common sponsor and how many times were they a sponsor? 

Looking to the sponsor column, the "top" row indicates the most common data value is Outback Steakhouse and the "freq" row indicates that Outback Steakhouse was a sponsor 26 times.

### Info(): Understanding all Fields, Null Values, Size, etc.

In [13]:
# the .info method, like the property .dtypes, is great for figuring out the shape of our data
bowlData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527 entries, 0 to 1526
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1527 non-null   int64
 1   year           1527 non-null   int64
 2   date           1527 non-null   object
 3   day            1527 non-null   object
 4   winner_tie     1527 non-null   object
 5   winner_rank    754 non-null    object
 6   winner_points  1527 non-null   int64
 7   loser_tie      1527 non-null   object
 8   loser_rank     671 non-null    object
 9   loser_points   1527 non-null   int64
 10  attendance     1518 non-null   float64
 11  mvp            1358 non-null   object
 12  sponsor        820 non-null    object
 13  bowl_name      1527 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 167.1+ KB

# III. Selecting Data

To find a specific set of rows, columns, or cells, you can use pandas to select data. There are several ways to do this.

### The df.loc[] approach:

With **.loc[rows, columns]** you can directly access rows and columns by name. If you have an integer in the "row" part, Pandas assumes this is the index of the row.

#### Single Cell

In [ ]:
# SELECT a single cell - the attendance where row index is 1
bowlData.loc[1 , 'attendance']

#### Single row by index

In [ ]:
# SELECT whole row of data where row index is 1
bowlData.loc[1 , :]

#### Single Column by Column Name

In [ ]:
# SELECT a single column of data, just the atttendance column
bowlData.loc[: , 'attendance']

#### Slice of Rows by Index Range

In [ ]:
# SELECT a "slice" of rows where index is between 1 and 20
bowlData.loc[1:20 , :]

#### Slice Containing All Rows, but Only Certain Columns

In [ ]:
# SELECT all rows but only a  "slice" of columns 
bowlData.loc[: , 'year':'winner_rank']

#### Slice Containing Certain Rows, Certain Columns

In [ ]:
# SELECT a "slice" of cells where row index is between 10 and 20 and only a few columns
bowlData.loc[10:20 , 'year':'winner_rank']

#### Rows Where Column has Certain Value

In [ ]:
# this will find the locations in the dataset where year is equal to 1901
bowlData.loc[bowlData['year'] == 1901]

This returned only one row. You can read all about that season of bowls here: https://en.wikipedia.org/wiki/1901_college_football_season

In [ ]:
# this will find the locations in the dataset where sponsor is null
bowlData.loc[bowlData['sponsor'].isna()]

#### Rows Based on Column Comparison

If we want to return all the games where the winner was ranked below the loser, we could do it this way.

In [ ]:
# finds all locations where the loser ranked below the winner
bowlData.loc[bowlData['loser_rank'] < bowlData['winner_rank']]

Notice that when your output exceeds twenty lines Jupyter will format nicely and show a bit at the ending and a bit at the end. It will do the same thing if your output has too many columns.

### The df.query() Method:

We can also use a method called .query(). Inside the .query() we can put a query that looks a little bit like a database query.

#### Rows Where Column has Certain Numerical Value

In [ ]:
# this will find the locations in the dataset where year is equal to 1901 using .query
bowlData.query("year == 1901")

#### Rows Where Column has String Value

In [ ]:
# This will find the locations where the bowl_name is "Rose Bowl"
# notice the single quotes around the string "Rose Bowl"
bowlData.query("bowl_name == 'Rose Bowl'")

#### Rows Based on Substring Comparison

In [ ]:
# Grab any row where the word "State" appears in the winner_tie column
bowlData.query('winner_tie.str.contains("State")', engine='python')

#### Rows Based on Column Comparison

In [ ]:
# This will find all locations where the loser ranked below the winner using .query
bowlData.query("loser_rank < winner_rank")

#### Rows Based on Comparison with a Variable

In [ ]:
# First, let's get the mean winner_points x 2
twiceTheMean = bowlData.winner_points.mean() * 2

# then, we can use that value to query for winners with more than twice the mean
bowlData.query("winner_points > @twiceTheMean")

#### Combining Criteria

In [ ]:
# Find all the rows where the winner is Alabama, 
# Alabama had more than 50 points, 
# and yet they weren't ranked number 1.
bowlData.query("(winner_tie == 'Alabama') and (winner_points > 50) and (winner_rank > 1)")

## Sorting Data

Let's sort by the winner's points to find the highest score by an upset winner.

The problem is that to sort properly, some of our rank data is not numeric as we saw above when we did .dtype.

Here's what happens if we sort on the winner_points column and try to sort descending (highest rank down to lowest):

In [ ]:
# another cool thing - notice that we've asked for only certain columns by providing a list of the column
# names or 'series' that we want

bowlData[['id','year','winner_rank','mvp']].sort_values(by=['winner_rank'], ascending=False)

Notice that "Pennsylvania" is the highest winner_rank, but that's not a number at all. Let's fix that by changing that column to something numeric and then sorting again.

In [ ]:
bowlData["winner_rank"] = pd.to_numeric(bowlData["winner_rank"])

Oh, we got an error. Let's fix that row to something numerical like zero.

In [ ]:
# in the location where the row winner_rank is Pennsylvania and the column is winner_rank, set it 0
bowlData.loc[bowlData['winner_rank'] == 'Pennsylvania', ['winner_rank']] = 0

# then do the conversion
bowlData["winner_rank"] = pd.to_numeric(bowlData["winner_rank"])

Awesome, no error. Now let's convert the loser_rank column values to numeric:

In [ ]:
bowlData["loser_rank"] = pd.to_numeric(bowlData["loser_rank"])

Oops, the same error.  Please supply the code here to change "TN" to zero on the row where loser rank is zero.

In [ ]:
# put the code here to change the value
bowlData.loc[bowlData['loser_rank'] == 'TN', ['loser_rank']] = 0

# then we can convert loser rank to numeric
bowlData["loser_rank"] = pd.to_numeric(bowlData["loser_rank"])

Now, we can see what we were looking for. We want to know who had the most points in a game when a lower ranking team beat a higher ranked team.

In [ ]:
# get the rows where loser ranks lower than winner then sort by the winner's points descending
# notice how you can chain methods together
bowlData.query("loser_rank < winner_rank").sort_values(by=['winner_points'], ascending=False)

Nice, right? we can see that 23rd ranked West Virginia beat 14th ranked Clemson in 2011 with a score of 70!

## Grouping Data

In [ ]:
avgPointsByWinners = bowlData.groupby("winner_tie")["winner_points"].mean()
avgPointsByWinners

Notice that the list is sorted by winner_tie, the grouping column. This is the default behavior unless you specify sort=False as a parameter of the groupby() function.

## Renaming Columns

To change column names, the easiest way is this:

In [ ]:
# create a dictionary where key is the old name and value is the new name
columnMap = {"mvp":"Most Valuable Player", "attendance":"Attendance"}

bowlData = bowlData.rename(columns=columnMap, errors="raise")

bowlData

## Handling Missing or Null Values
A common thing one needs to prepare for analysis or machine learning is to ensure that there are no null values. Let's see what's null in our bowl data. An easy thing to do is to get a number of null values per column like this:

In [ ]:
# first, let's be sure we can see enough rows
pd.set_option('display.max_rows', 30)

# now show the count by column of null values
bowlData.isnull().sum()

In [ ]:
# this would return true or false for any row / column in which the result is missing / null
bowlData.isna()

Notice the "True" in the winner_rank and loser_rank columns. This means some of the columns in "winner_rank" and "loser_rank" are missing.

Let's look at those rows with null values ("NaN")

In [ ]:
# here we're asking for all the rows where winner_rank is null
bowlData[bowlData['winner_rank'].isnull()]

This method will replace anything that is NaN with zero:

In [ ]:
# put data into a new data frame and replace all missing values in the winner_rank with zero
# notice that we are assigning the results of fillna to a new dataframe variable
betterBowlData = bowlData.fillna(0)

# let's see if anything is null - shouldn't be
betterBowlData.isna()

## Writing Data to a File

To write data to a file, PANDAS has a built-in method to write .csv files - df.to_csv().

For example, let's write our bowl data to a file.

In [ ]:
bowlData.to_csv(r'bowlData.csv', index = None, header=True)

## Learning more about Pandas

There is a great pandas "cheat sheet" in the lab files.


### Analyzing Individual Columns

You can also run mathematical measures of central tendency against individual columns. For example:

In [ ]:
# the mean of winner_points
print("Winners had an average of ",bowlData['winner_points'].mean())

# the median of loser_points
print("Losers had a median of ",bowlData['winner_points'].median())